.blog-container {
  width: 40vw;
  margin: 0vw auto;
  padding: 1vw;
  background-color: #ffffff;
  box-shadow: 0 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
  font-family: "Segoe UI", sans-serif;
  overflow: scroll;
}

.blog-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.blog_page_main_container {
  background-color: black;
  margin-top: 6vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.blog-form h2 {
  margin-bottom: 0vw;
  font-size: 1.5vw;
  /* color: #005a55; */
  color: black;
  font-family: "Fredoka", sans-serif;
}

.blog-form label {
  margin-top: 1vw;
  margin-bottom: 0.4vw;
  font-weight: bold;
  font-size: 1.1vw;
  /* color: #005a55; */
  color: black;
  font-family: "Fredoka", sans-serif;
}

.blog-form input[type="text"],
.blog-form, .wrapper-class , .blog-form textarea {
  padding: 0.57vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
}

.wrapper-class .rdw-link-modal{
  width: 30vw;
  height: 20vw;
  padding: 1vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
}


.blog-form input[type="file"] {
  margin-top: 0.8vw;
  font-size: 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.blog-form input:focus,
.blog-form textarea:focus {
  border: none;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.preview-img {
  margin-top: 1vw;
  max-width: 100%;
    height: 10vw;
  border-radius: 0.8vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.blog-form button {
  margin-top: 1vw;
  padding: 0.8vw;
  background-color:#7c5cfc !important;

  color: aliceblue;
  font-family: "Fredoka", sans-serif;
  border: none;
  font-size: 1.1vw;
  border-radius: 0.8vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.blog_creation_page {
  display: flex;
  justify-content: center;
}
/* .blog-form button:hover {
      background-color: #0056b3;
    }
     */
@media (max-width: 768px) {
    .blog_page_main_container{
        height: 92.5vh;
    }
  .blog-container {
    margin: 4vh 4vw 1vh 4vw;
    padding: 3vw;
    width: 90vw;
    height: fit-content;
  }

  .blog-form h2 {
    font-size: 5vw;
  }

  .blog-form label,
  .blog-form input[type="text"],
  .blog-form textarea,
  .blog-form input[type="file"],
  .blog-form button {
    font-size: 4vw;
    margin-top: 0vw;
    padding: 1.8vw 1vw;
    resize: none;
    border-radius: 2vw;
  }

  .blog-form button {
    /* padding: 3vw; */
    font-size: 5vw;
    margin-top: 2vw;
  }
  .preview-img{
    height: 20vw;
  }
}
