/* .single_blog_outer_main{
    border: 2px solid red;
} */
.sinle_blog_banner{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.1vw;
}
.single_blog_banner_img{
    /* background-image: url("../../assets//SingleBlog//blogbanner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width:85vw;
    height: 60vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8vw;
}
.banner_img_content{
    position: absolute;
    background-color: rgba(124, 92, 252, 0.6);
    width: 72vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner_img_content_heading{
    font-size:3.5vw;
    font-weight: 700;
    color:white;
    text-align: center;
}
.banner_img_content_para{
    font-size:1.2vw;
    font-weight: 400;
    width: 60vw;
    color:white;
    text-align: center;
    margin-top: 3vw;
}
.single_blog_content_heading{
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 1vw;

}
.single_blog_content_para{
    font-size:1.2vw;
    font-weight: 400;
    color: #000000b3;
    width: 80vw;
    margin-top: 1vw;
    text-align:justify;
}
.single_blog_top_text{
    position: absolute;
    top: 0.8vw;
    left: 1.8vw;
    font-size: 1.2vw;
    font-weight: 600;

}
.single_blog_layer2_outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_blog_content{
     width: 80vw;
    margin-top: 4vw;
    position: relative;
}
.single_blog_triangle_icon{
    width: 5vw;
    height: 5vw;
    position: absolute;
    right:-4vw;
    top: 0vw;
}
.single_blog_list_items_outer{
    /* border: 2px solid green; */
    margin-top:1vw;
}
.sigle_blog_list{
    font-size: 1.2vw;
    width:72vw;
    margin-top:1.3vw;
    color: rgba(12, 12, 13, 1);
}
.single_layer3_blogs_outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
.single_blog_layer3_outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vw;
    position: relative;
    /* border: 2px solid red; */
}
.single_blog_bg_img{
    position: absolute;
    right: 0vw;
    top: -40vw;
    z-index: -1;
    width: 90vw;
    height: 90vw;
}
.single_blog_layer3_main{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 3vw;
}
.single_blog_layer3_heading{
    font-size: 1.8vw;
    font-weight: 600;
    
}

@media screen and (min-width:320px) and (max-width:720px){
    .single_blog_banner_img{
        background-image: url("../../assets//SingleBlog//blogbanner.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        width:90vw;
        height: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single_blog_top_text{
        font-size: 3vw;
        top: 2vw;
        left: 2vw;
    }
    .banner_img_content{
        width:80vw;
        height: 40vw;
    }
    .banner_img_content_heading{
        font-size: 5vw;
    }
    .banner_img_content_para{
        font-size:2.5vw;
        width: 80vw;
    }
    .single_blog_content_heading{
        font-size: 5vw;
    }
    .single_blog_content_para{
        font-size: 3.5vw;
    }
    .single_blog_triangle_icon{
        width: 10vw;
        height: 10vw;
        top: 0vw;
    }
    .sigle_blog_list{
        font-size: 3.5vw;
        width: 80vw;
    }
    .single_blog_bg_img{
        width: 90vw;
        height: 90vw;
        top: -25vw;
    }
}