.career_creation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 9vw 2vw 2vw 2vw;
  margin-top: 0vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  /* color: white; */
}

.career_details_sub {
  width: 50vw;
  height: fit-content;
  padding: 1vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0.2vw 0.5vw #fff;
}

.career_creation_form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
  padding: 0 1vw;
}

.career_creation_form_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  width: 100%;
  column-gap: 2vw;
  
}

.input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  row-gap: 0.2vw;
}

.career_labels {
  font-size: 1.1vw;
  width: 100%;

}
.career_input {
  padding: 0.7vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  width: 100%;
}
.career_textarea {
  padding: 0.5vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  width: 100%;
}

.career_creation_button_container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-top: 1vw;
    padding: 0 1vw;
    column-gap: 2vw;
 
}

.create_career_button, .cancel_career_button{
    background-color: #7c5cfc;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}