

.career_creation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    margin-top: 0vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    /* color: white; */
}


.career_details_sub{
    width: 50vw;
    height: fit-content;
    padding: 2vw;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0.2vw 0.8vw #fff;
}