.home_page_outer{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:3vw ;
    padding-top: 2vw;
}
.home_page_right{
     position: relative;
}

.homepage_img_outer{
    width: auto;
    height: auto;
     
}
.home_img{
    width:36vw;
    height:36vw;

}
.home_samll_text{
    color: #7C5CFC;
    font-size:1.7vw;
    font-weight: 600;
}
.home_page_heading{
    font-size:3.5vw;
    font-weight: 700;
    width:45vw;
    margin-top: 1vw;
    line-height: 4.5vw;
    color: #2B2B2B;
}
.home_page_para{
    font-size:1.5vw;
    width:40vw;
    font-weight: 400;
    margin-top: 1vw;
    color: #666666;
}
.homepage_button_outer{
     display: flex;
   gap: 2vw;
   margin-top: 2vw;
}
.homepage_left_button{
    width: 11.8vw;
    height: 3.5vw;
    background-color: #7C5CFC;
    color: #fff;
    font-size:1.2vw;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 1.9vw;
    cursor: pointer;

}
.homepage_right_button{
    width: 11.8vw;
    height: 3.5vw;
    background-color: #ffff;
    color: #7C5CFC;
    border: 0.1vw solid #7C5CFC;
    font-size:1.2vw;
    font-weight: 600;
     outline: none;
    border-radius: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5vw;
    cursor: pointer;
    border-radius: 1.9vw;


}
.button_icon{
    font-size: 1.8vw;
}

.right_top_icon{
     width:4.3vw;
    height: 4.3vw;
    border-radius: 0.5vw;
    position: absolute;
    right: 2vw;
    top: 3vw;
    transform: rotate(110deg);
    background-color: #D7A3D5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_top_icon{
    background-color: #FBCBA3;
    width:4.3vw;
    height: 4.3vw;
    border-radius: 0.5vw;
    position: absolute;
    top: 12vw;
    left:1.1vw;
    transform: rotate(250deg);
    display: flex;
    justify-content: center;
    align-items: center;

}
.home_vector_icon{
    width: 3.3vw;
    transform: rotate(107deg);
}
.vector_right_icon{
    width: 3.3vw;
    transform: rotate(255deg);

}
.dots_right{
    position: absolute;
    width:10vw;
    height: 14vw;
    right: 0vw;
    top: 10.8vw;
}
.dots_left{
    position: absolute;
    width:10vw;
    height: 14vw;
    bottom: -5vw;
    left: -1vw;

}
.orange_circle{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FBCBA3;
    border-radius: 2vw;
    position: absolute;
    top: 24vw;
    left:0.2vw;
}
.violet_circle{
    width: 1vw;
    height: 1vw;
    border-radius: 2vw;
    position: absolute;
    background-color: #D7A3D5;
    top: 9vw;
    left: 8.8vw;
}
.home_top_left_notice{
     width: 10vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1vw;
    padding-left: 1vw;
    position:absolute;
    background-color: white;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);      top: 1.5vw;
}
.notice_heading{
    font-size: 1.1vw;
    font-weight: 600;
    
}
.notice_text{
    font-size: 0.9vw;
    color: #666666;
    margin-top: 0.1vw;
    font-weight: 400;
}
.notice_right{
   width: 13vw;
}
.bottom_notice{
     width: 16.7vw;
    height:6vw;
    padding-top: 0.8vw;
     justify-content: space-between;
    display: flex;
     border-radius: 1vw;
    padding-left: 1vw;
    position:absolute;
    background-color: white;
 box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);    
     bottom: 2vw;
    right:-0.3vw;
    gap: 1vw;
}
.bottom_notice_heading{
    font-size: 1.1vw;
    font-weight: 600;
}
.bottom_notice_text{
    font-size: 0.9vw;
    color: #666666;
    margin-top: 0.1vw;
     font-weight: 400;
}
.notice_left_logo{
    background-color: #e7defe;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.bottom_notice_icon{
    font-size: 1.2vw;
    color: #7C5CFC;
}

.homepage_layer2_outer{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
}
.layer2_outer{
     width: 85vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vw;
    padding: 1.8vw;
    background-color: #ebebff;

}
.layer2_top_text{
    font-size:1.2vw;
    font-weight: 500;
}
.layer2_logos_outer{
    width:85vw;
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
 }
.layer2_logos{
    width:21vw;
    height:7vw;
}
.homepage_layer3_outer_main{
     margin-top: 7vw;
    background-color: rgba(235, 235, 255, 1);

}
.homepage_layer3_outer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}
.layer3_part1_heading{
    font-size: 1.8vw;
    font-weight: 600;
    color: #000000b3;
    margin-top: 5vw;
}
.layer3_part1_heading2{
    font-size:3.5vw;
    font-weight: 700;
    margin-top: 1vw;
}
.layer3_part1_para{
    font-size:1.2vw;
    font-weight: 400;
    color: #000000b3;
    width: 80vw;
    margin-top: 1vw;
}
.homepage_layer3_part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     text-align: center;
}

.homepage_layer3_part2{
     width: 70vw;
    height: 40vw;
    margin-top: 6vw;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    background-color: rgba(217, 217, 217, 0.9);
}
.homepage_layer4_outer_main{
     margin-top: 6vw;
     padding: 2vw;
     position: relative;
}
.homepage_layer4_outer{
     display: flex;
    justify-content:center;
    margin-top: 3vw;
 
}
/* .homepage_layer4_left{
    border: 2px solid;
} */
.homepage_layer4_heading{
    font-size: 1.8vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.homepage_layer4_heading2{
    font-size:3.4vw;
    font-weight:700 ;
    width: 50vw;
     margin-top:1vw;
     line-height: 4.4vw;
}
.homepage_layer4_para{
    font-size:1.2vw;
    font-weight: 400;
    width:43vw;
    text-align: justify;
    margin-top: 1vw;
}
.homepage_layer4_right{
     width:40vw;
    height:43vw;
}
.homepage_layer4_img{
    width:40vw;
    height:43vw;
}
.homepage_layer4_cards_outer{
     width: 48vw;
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
}
.homepage_layer4_card{
     width: 20vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
  }
.layer4_card_logo{
    width: 4.2vw;
    height: 4.2vw;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 3vw;
}
.layer4_card_heading{
    font-size:1.2vw;
    font-weight:600;
}
.layer4_card_para{
    font-size:1.2vw;
    font-weight:400;
    color: rgba(0, 0, 0, 0.7);
    width:19vw;
}
 /* .homepage_layer5_outer_main{
    position: relative;
    border: 2px solid red;
 } */
 .backgroud_img1{
    position: absolute;
    top:10vw;
    width:70vw;
    height: 100vw;
      left:0vw;
    transform: rotate(0deg);
    z-index: -1;
 }
.homepage_layer5_outer{
     margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.layer5_part1{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.layer5_part1_heading{
    font-size: 1.8vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.layer5_part1_heading2{
    font-size:3.4vw;
    font-weight:700 ;
      margin-top:1vw;
     line-height: 4.4vw;
}
.layer5_part1_para{
    font-size:1.2vw;
    font-weight: 400;
    color: #000000b3;
    width: 80vw;
    margin-top: 1vw;
    text-align: center;
}
.layer5_cards_outer{
     display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top: 4vw;
    width: 85vw;
}
.layer5_card{
    width: 18vw;
    height: auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.4vw;
    margin-top: 3.5vw;
    margin-right: 0.3vw;
}
.layer5_card_logo_outer{
    width: 5.8vw;
    height: 5vw;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 1vw;
}
.layer4_card_logo{
    width:3.3vw;
    height:3vw
}
.layer5_card_logo{
    width:3.3vw;
    height:3vw
}
.card_bottom_line{
    width: 15vw;
    border-top:0.1vw solid rgba(0, 0, 0, 0.7);
}
.layer5_card_heading{
    font-size:1.2vw;
    font-weight:600;
}
.layer5_card_text{
    font-size:1.2vw;
    font-weight:400;
    color: rgba(0, 0, 0, 0.7);
    width:18vw;
    text-align: center;
}
.layer5_card_lernmore{
    font-size:1.3vw;
    font-weight:600;
}

 
.layer6_part1{
     text-align: center;   
}
.layer6_part1_heading{
    font-size: 1.8vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.layer6_part1_heading2{
    font-size:3.4vw;
    font-weight:700 ;
    margin-top:1vw;
}
.homepage_layer6_outer_main{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    background-color: rgba(235, 235, 255, 1);
 }

.layer6_outer{
    margin-top: 3.5vw;
    width: 94vw;
}
.layer6_cards_outer{
     display: flex;
    justify-content: space-around;
    margin-top: 4vw;
}
.layer6_card{
     width:29vw;
    height:18vw;
    display: flex;
    flex-direction: column;
    padding: 1.9vw 0 1.5vw 3vw;
    background-color: white;
    border-radius: 1vw;
    margin-bottom: 4vw;
}
.layer6_card_logo{
    font-size:0.8;
    font-weight: 700;
}
.layer6_card_para{
    font-size:1.2vw;
        font-weight: 400;
    width:24vw;
    margin-top:1vw;
}
.layer6_card_bottom{
     display: flex;
    gap: 1vw;
    margin-top:1vw;

}
.card_bottom_heading{
    font-size:1.2vw;
     font-weight: 600;
     margin: 0;
}
.card_bottom_para{
    font-size:1.1vw;
    font-weight: 400;
    margin: 0;
}
.card_bottom_logo{
    width:3.5vw;
}
.homepage_layer7_outer_main{
     margin-top: 4vw;
     position: relative;
       
}
.bg2{
    width:70vw;
    height: 100vw;
    position: absolute;
    right: 0;
    top:-45vw;
    z-index: -10;

}
.layer7_outer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 4vw;
    
}
.layer7_part1{
    text-align: center;
}
.layer7_part_heading{
    font-size: 1.8vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.layer7_part_heading2{
    font-size:3.4vw;
    font-weight:700 ;
    margin-top:1vw;
}

.layer7_cards_outer{
    margin-top: 3.5vw;
    width: 94vw;
    display: flex;
    justify-content: space-around;
}


.layer7_card{
     display: flex;
    flex-direction: column;
    width:29.5vw;
    height:19vw;
    padding: 1.9vw 0 1.5vw 2.4vw;
    gap: 0.5vw;
    border-radius: 1vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.4);
    background-color: white;
    



}
.layer7_card_name{
    font-size:1.2vw;
    font-weight: 600;
}
.layer7_card_sub_name{
    font-size:1.2vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7)
}
.layer7_card_line{
    width:24.5vw;
    border-top: 0.1vw solid rgba(0, 0, 0, 0.7);
}
.layer7_card_para{
    font-size:1.2vw;
    font-weight: 400;
   color: rgba(0, 0, 0, 0.7)
}
.layer7_card_explore{
    font-size:1.2vw;
    font-weight: 600;
    margin-top: 1vw;

}
.home_page_prefooter{
      margin-bottom: 4vw;
}